<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

#if(${enableCache})
    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

#end
#if(${baseResultMap})
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
#foreach($field in ${table.fields})
#if(${field.keyFlag})##生成主键排在第一位
        <id column="${field.name}" property="${field.propertyName}" />
#end
#end
#foreach($field in ${table.commonFields})##生成公共字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#foreach($field in ${table.fields})
#if(!${field.keyFlag})##生成普通字段
        <result column="${field.name}" property="${field.propertyName}" />
#end
#end
    </resultMap>

#end
    <!-- 表名称 -->
    <sql id="Table_Name">
        ${table.name}
    </sql>
#if(${baseColumnList})
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
#foreach($field in ${table.commonFields})
        `${field.columnName}`,
#end
        ${table.fieldNames}
    </sql>

    <sql id="Where_Trim">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
#foreach($field in ${table.fields})
#if(${field.type.contains("char")})
            <if test="${field.propertyName} != null and ${field.propertyName} != ''">
                AND ${field.columnName} = #{${field.propertyName}}
            </if>
#else
            <if test="${field.propertyName} != null">
                AND ${field.columnName} = #{${field.propertyName}}
            </if>
#end
#end
        </trim>
    </sql>

    <!-- 新增数据 -->
    <insert id="insert" parameterType="${package.Entity}.${entity}">
        INSERT INTO <include refid="Table_Name" />(
        <trim suffixOverrides=",">
#foreach($field in ${table.fields})
                ${field.columnName},
#end
        </trim>
        ) VALUE (
        <trim suffixOverrides=",">
#foreach($field in ${table.fields})
                #{${field.propertyName}},
#end
        </trim>
        )
    </insert>

    <!-- 列表查询 -->
    <select id="selectList" resultMap="BaseResultMap" parameterType="${package.Entity}.${entity}">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <include refid="Where_Trim" />
    </select>

    <!-- 查询条数 -->
    <select id="selectCount" parameterType="${package.Entity}.${entity}" resultType="long">
        SELECT
            COUNT(*)
        FROM
        <include refid="Table_Name" />
        <include refid="Where_Trim" />
    </select>

    <!-- 查询符合条件的单条数据 -->
    <select id="selectOne" parameterType="${package.Entity}.${entity}" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <include refid="Where_Trim" />
        LIMIT 1
    </select>

    <!-- 通过ID批量查询 -->
    <select id="selectBatchIds" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        <foreach item="id" index="index" collection="idList"
                 open="WHERE id in (" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 通过主键ID查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            <include refid="Table_Name" />
        WHERE id = #{id}
    </select>

    <!-- 通过主键ID选择更新数据 -->
    <update id="updateById" parameterType="${package.Entity}.${entity}">
        UPDATE <include refid="Table_Name" />
        <trim prefix="SET" suffixOverrides=",">
#foreach($field in ${table.fields})
#if(!${field.keyFlag}) ##排除主键
#if(${field.type.contains("char")})
            <if test="${field.propertyName} != null and ${field.propertyName} != ''">
                ${field.columnName} = #{${field.propertyName}},
            </if>
#else
            <if test="${field.propertyName} != null">
                ${field.columnName} = #{${field.propertyName}},
            </if>
#end
#end
#end
        </trim>
        WHERE id = #{id}
    </update>

    <!-- 根据ID逻辑删除 -->
    <update id="disable" parameterType="${package.Entity}.${entity}">
        UPDATE <include refid="Table_Name" />
        <trim prefix="SET" suffixOverrides=",">
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="traceId != null and traceId != ''">
                trace_id = #{traceId},
            </if>
            <if test="modifyBy != null and modifyBy != ''">
                modify_by = #{modifyBy},
            </if>
            <if test="activeFlag != null">
                active_flag = #{activeFlag},
            </if>
        </trim>
        WHERE id = #{id}
    </update>



#end


</mapper>
